body{
    font-family: 'Poppins', sans-serif;
    margin: 0%
}
h1{
    font-size: 40px;
}
.name-color{
    color: rgb(255, 102, 0);
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(230, 52, 21) ;
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}
.top-banner{
    background-image: url(image/t-b.jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/t-b2.jpg);
    background-repeat: no-repeat;
}
#text-clr{
    color: rgb(255, 255, 254);
    font-size: 200%;
    font-style: inherit;
}